.bgimage {
  background-image: url('../images/glass_city.jpg');
  background-position: center center;
  background-size: cover;
  height: 200px;
}

html {
  background: lightblue;
}

body {
  background: white;
  margin: 1em;
}

nav, footer {
  border: solid thin lightgray;
  margin: 1em 0.2em;
  padding: 0px 50px 0px;
}

nav {
  width: 80%%;
  min-height: 50px;
}

li {
  padding: 10px;
}

aside {
  float: left;
  border: solid thin lightgray;
  margin: 0.25em;
  padding: 0.25em;
}

footer { 
  clear: both;
}

.nav_element {
  float: left;
  margin: 0px 5px;
}

#content_first, #content_second {
  float: left;
  max-width: 35%;
  border: solid thin lightgray;
  margin: 0.25em;
}

@media (max-width: 628px) {
  #content_first, #content_second {
    float: left;
    max-width: 45%;
  }
  aside {
    float: none;
  }
}

@media (max-width: 390px) {
  #content_first, #content_second {
    float: none;
    max-width: 100%;
  }
  aside {
    float: none;
  }
}